.header {
  padding-bottom: 82px;
}

.menu {
  padding: 50px 4px;
  display: flex;
  justify-content: space-between;
  position: fixed;

  &::before {
    content: '';
    height: 185px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    z-index: -1;
    transform: translateX(-50%);
    background-color: transparent;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 200px;
    align-items: center;
  }


  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 135px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 41px;
    }
  }

  &__link {
    vertical-align: super;
  }

}

.menu-fixed {
  animation-name: show-menu;
  animation-duration: 1s;
  padding: 50px 23px 10px 2px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1270px;
  z-index: 10;
  margin: 0 auto;

  &::before {
    background-color: black;
    z-index: -1;
    opacity: 0.8;
  }
}

@keyframes show-menu {
  0% {
    opacity: 0;
    top: -200px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.connection {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__link {
    &:not(:last-child) {
      margin-right: 38px;

    }

  }

}

.logo {
  outline: 2px solid transparent;
  border-radius: 5px;
  transition: opacity 0.3s, outline-color 0.3s;
  padding: 3px 3px 0 0;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline-color: #ababcb;
  }

  &:active {
    opacity: 0.5;
  }

}