.tech {
  padding-bottom: 70px;

  &__wrapper {
    padding-bottom: 60px;
  }

  &__top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 160px;
    position: relative;
    z-index: 1;
    padding-bottom: 60px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(48, 44, 66, 0.79);
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      background-color: rgba(14, 14, 14, 0.32);
      left: 50%;
      bottom: -53px;
      transform: translateX(-50%);
      z-index: -1;
      border-radius: 50%;
    }
  }

  &__inner {
    padding: 108px 0 93px;
    text-align: center;

  }

  &__link {
    display: block;
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 50px;
    position: absolute;
    outline: 4px solid transparent;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 1;
    transition: outline-color 0.5s, opacity 0.5s;

    &:hover {
      outline-color: #4bd6ff;
    }

    &:focus {
      outline-color: $text;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__icon {
    fill: none;
    stroke: #433D60;
    stroke-width: 3.5;
    transition: stroke 0.5s;

    &:hover {
      stroke: $text;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }

  }
}