<section class="about">
  <div class="container">
    <div class="about__top">
      <div class="about__inner">
        <h2 class="title">
          INTRODUCTION
        </h2>
        <h3 class="section-title about__arrow">
          TO HYDRA VR
        </h3>
      </div>
      <p class="about__text">
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat
        nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo
        quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare
        lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
    <div class="about__bottom">
      <img class="about__img" src="images/content/vr-2.jpg" alt="a person in vr" width="524" height="557">
      <div class="about__content">
        <h2 class="title">
          ABOUT
        </h2>
        <h3 class="section-title about__title">
          HYDRA VR
        </h3>
        <p class="about__text about__vr">
          Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus
          urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida
          dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in.
          Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet
          sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam
          etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet
          cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
          retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
          n tempor.
        </p>
        <a class="about__link link link--mode" href="#">
          LET’S GET IN TOUCH
        </a>
      </div>
    </div>
  </div>
</section>