<section class="build" id="services">
  <div class="container">
    <div class="build__top">
      <div class="build__inner">
        <h2 class="title">
          WHY BUILD
        </h2>
        <h3 class="section-title build__arrow">
          WITH HYDRA?
        </h3>
      </div>
      <p class="build__text">
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat
        nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo
        quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare
        lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
    <div class="build__bottom">
      <ul class="build__list">
        <li class="build__item">
          <article class="card">
            <img class="card__img" src="images/content/vr-3.jpg" alt="" width="191" height="191">
            <h4 class="card__title build__title">
              SIMULATION
            </h4>
            <p class="card__text">
              Vitae sapien pellentesque habitant morbi
              nunc. Viverra aliquet porttitor rhoncus
              libero justo laoreet sit amet vitae.
            </p>
            <a class="card__link link link--mode" href="#">
              TRY IT NOW
            </a>
          </article>
        </li>
        <li class="build__item">
          <article class="card">
            <img class="card__img" src="images/content/vr-4.jpg" alt="" width="191" height="191">
            <h4 class="card__title build__title">
              EDUCATION
            </h4>
            <p class="card__text">
              Vitae sapien pellentesque habitant morbi
              nunc. Viverra aliquet porttitor rhoncus
              libero justo laoreet sit amet vitae.
            </p>
            <a class="card__link link link--mode" href="#">
              TRY IT NOW
            </a>
          </article>
        </li>
        <li class="build__item">
          <article class="card">
            <img class="card__img" src="images/content/vr-5.jpg" alt="" width="191" height="191">
            <h4 class="card__title build__title">
              SELF-CARE
            </h4>
            <p class="card__text">
              Vitae sapien pellentesque habitant morbi
              nunc. Viverra aliquet porttitor rhoncus
              libero justo laoreet sit amet vitae.
            </p>
            <a class="card__link link link--mode" href="#">
              TRY IT NOW
            </a>
          </article>
        </li>
        <li class="build__item">
          <article class="card">
            <img class="card__img" src="images/content/vr-6.jpg" alt="" width="191" height="191">
            <h4 class="card__title build__title">
              OUTDOOR
            </h4>
            <p class="card__text">
              Vitae sapien pellentesque habitant morbi
              nunc. Viverra aliquet porttitor rhoncus
              libero justo laoreet sit amet vitae.
            </p>
            <a class="card__link link link--mode" href="#">
              TRY IT NOW
            </a>
          </article>
        </li>
        
      </ul>
      <article class="build__card"></article>
    </div>
  </div>
</section>