<section class="footer">
  <div class="container">
    <div class="footer__content">
      <a class="footer__logo" href="#header">
        <img class="footer__img" src="images/footer-logo.svg" alt="logo" width="185" height="187">
      </a>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link link" href="#">
            ABOUT
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            F.A.Q
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            SERVICES
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            SITEMAP
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            TECHNOLOGIES
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            CONDITIONS
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            HOW TO
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            LICENSES
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">
            JOIN HYDRA
          </a>
        </li>
      </ul>

      <div class="footer__social footer-social">
        <h5 class="footer-social__title">
          SOCIALIZE WITH HYDRA
        </h5>
        <ul class="footer-social__list">
          <li class="footer-social__item">
            <a class="footer-social__link" href="#">
              <span class="sr-only">link to facebook</span>
              <svg class="footer-social__icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a class="footer-social__link" href="#">
              <span class="sr-only">link to twitter</span>
              <svg class="footer-social__icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a class="footer-social__link" href="#">
              <span class="sr-only">link to linkedin</span>
              <svg class="footer-social__icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a class="footer-social__link" href="#">
              <span class="sr-only">link to youtube</span>
              <svg class="footer-social__icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a class="footer-social__link" href="#">
              <span class="sr-only">link to instagram</span>
              <svg class="footer-social__icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a class="footer-social__link" href="#">
              <span class="sr-only">link to pinterest</span>
              <svg class="footer-social__icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-pinterest"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="footer-social__link-build link link--mode" href="#">
          BUILD YOUR WORLD
        </a>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__text">
        2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED
      </p>
    </div>
  </div>
</section>