<section class="header" id="header">
  <div class="container">
    <nav class="menu">
      <div class="menu__logo">
        <a class="logo" href="#header">
          <img class="logo" src="images/footer-logo.svg" alt="logo" width="102" height="103">
        </a>
        <img src="images/logo-text.svg" alt="logo text" width="76" height="46">
      </div>

      <ul class="menu__list">
        <li class="menu__item">
          <a class="munu__link link" href="#about">
            ABOUT
          </a>
        </li>
        <li class="menu__item">
          <a class="munu__link link" href="#services">
            SERVICES
          </a>
        </li>
        <li class="menu__item">
          <a class="munu__link link" href="#technologies">
            TECHNOLOGIES
          </a>
        </li>
        <li class="menu__item">
          <a class="munu__link link" href="#howto">
            HOW TO
          </a>
        </li>
      </ul>
      <div class="connection">
        <a class="connection__link link link__contact" href="#hero">
          CONTACT US
        </a>
        <a class="connection__link link link--mode" href="#join">
          JOIN HYDRA
        </a>
      </div>
    </nav>
  </div>
</section>