<section class="howtob">
  <div class="container">
    <div class="howtob__top">
      <div class="howtob__inner">
        <h2 class="title">
          HOW WE BUILD
        </h2>
        <h3 class="section-title  howtob__arrow">
          WITH HYDRA VR?
        </h3>
      </div>
      <p class="howtob__text">
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat
        nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo
        quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare
        lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
    <div class="howtob__bottom">
      <ul class="howtob__list">
        <li class="howtob__item">
          <div class="howtob__step">
            <span class="howtob__numb">
              01
            </span>
          </div>
          <h4 class="howtob__title howtob-title">
            3D Conception<br>
            & Design
          </h4>
        </li>
        <li class="howtob__item">
          <div class="howtob__step">
            <span class="howtob__numb">
              02
            </span>
          </div>
          <h4 class="howtob__title">
            Interaction<br>
            Design
          </h4>
        </li>
        <li class="howtob__item">
          <div class="howtob__step">
            <span class="howtob__numb">
              03
            </span>
          </div>
          <h4 class="howtob__title">
            VR World <br>
            User Testing
          </h4>
        </li>
        <li class="howtob__item">
          <div class="howtob__step">
            <span class="howtob__numb">
              04
            </span>
          </div>
          <h4 class="howtob__title">
            Hydra VR<br>
            Deploy
          </h4>
        </li>
      </ul>
    </div>
  </div>
</section>