<section class="join" id="join">
  <div class="container">
    <div class="join__inner">
      <div class="join__top">
        <h2 class="title join__title">
          JOIN HYDRA
        </h2>
        <h3 class="section-title">
          Let’s Build Your VR Experience
        </h3>
      </div>
      <form class="join__form" action="#" name="form">
        <div class="join__initials">
          <label class="join__label join__info">
            <input class="join__input" type="text" name="name" placeholder="First Name" required>
          </label>
          <label class="join__label ">
            <input class="join__input" type="text" name="lastname" placeholder="Last Name" required>
          </label>
        </div>
        <div class="join__contacts">
          <label class="join__label join__info">
            <input class="join__input" type="email" name="email" placeholder="Email" required>
          </label>
          <label class="join__label">
            <input class="join__input" type="tel" name="phon" placeholder="Phone Number" required>
          </label>
        </div>
        <label class="join__label">
          <input class="join__subject" type="text" name="subject" placeholder="Subject" required>
        </label>
        <label class="join__label join-label__area">
          <textarea class="join__textarea" type="textarea" name="area" placeholder="Tell Us Something..."></textarea>
        </label>
        <button class="join__btn link link--mode" type="submit">
          SEND TO HYDRA
        </button>
      </form>
    </div>
  </div>
</section>