<section class="tech" id="technologies">
  <div class="container">
    <div class="tech__wrapper">
      <div class="tech__top" style="background-image: url('images/tech-bg.jpg');">
        <div class="tech__inner">
          <h2 class="title">
            TECHNOLOGIES & HARDWARE
          </h2>
          <h3 class="section-title">
            USED BY HYDRA VR.
          </h3>
        </div>
        <a class="tech__link" href="#">
          <svg class="tech__icon" width="60" height="60">
            <use xlink:href="images/sprite.svg#icon-shape"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="tech__bottom">
      <ul class="tech__list">
        <li class="tech__item">
          <img class="tech__img" src="images/technologies/unreal.png" alt="unreal engen" width="174" height="174">
        </li>
        <li class="tech__item">
          <img class="tech__img" src="images/technologies/unity.png" alt="unity" width="282" height="282">
        </li>
        <li class="tech__item">
          <img class="tech__img" src="images/technologies/oculus.png" alt="oculus" width="282" height="282">
        </li>
        <li class="tech__item">
          <img class="tech__img" src="images/technologies/vive.png" alt="vive" width="282" height="282">
        </li>
      </ul>
    </div>
  </div>
</section>